*{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-family: "Poetsen One", sans-serif;
     
    font-style: normal;
    font-size: 100px;
    display: flex;
    justify-content: center;
    background-color:rgb(231, 236, 236);
    color:blueviolet;
    margin-bottom: 10px;
    border: none;
}

header{
    padding-bottom: 20px;
    
}


main{
    display: grid;
    grid-template-columns: 15% auto;
    gap: 50px;
    width: 90%;
    height: 1000px;
    margin-inline: auto;
    margin-top: 20px;
}
#canvas{
    width: 700px;
    height: 700px;
    background-color:lightblue;
}



#opcion1,#opcion2,#opcion3{
    width: 300px;
    height: 200px;
    cursor: pointer;
    border: 5px solid rgb(236, 214, 236);

}
h3{
    font-weight: bold;
    font-size: 40px;
    color:royalblue;
}
ul{
    padding: 10% 0 0 20%;
    border: 2px solid rgb(42, 86, 233); 
    width: 170px;
    height: 400px;
    margin-top: 10px;
    
}
.resultado{
    position: relative;
    top: 270px;
}
ul >li{
    list-style-type: circle;
    padding: 2px;
    font-weight: bold;
}
section{
    
    padding: 10px;
    
}

.imagenes > img{
    border: 5px;
}
article{
    
    margin-top: 5%;
    text-align: justify;
}
article > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;
    font-style: italic;
    display: inline-block; 
    padding: 30px;
    line-height: 25px;
   
    
}
div{
    display: flex;
    justify-content: space-around;
}
footer {
    background-color: #bcbcbc;
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    font-weight: bold;
  }
  
  footer > p {
    color: rgb(36, 37, 34);
    padding: 40px;
    font-family: Times, sans-serif;
  }